* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #F9F9F7;
}

body {
  box-sizing: border-box;
  position: relative;
  background-color: #fff;
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

}

a {
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

a:hover,
a:active,
a:focus,
a:link,
a:visited {
  outline: 0;
  outline-style: none;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

h1 {
  font-family: 'GoudyOldStyleMTStd';
  text-transform: uppercase;
  line-height: 1;
}

h2 {
  color: #1D637D;
  font-family: 'Belluga';
  font-weight: normal;
  line-height: 2.2;
}

h3 {
  color: #1D637D;
  font-family: 'ltc-bodoni-175';
  font-size: 1.8vw;
  font-weight: normal;
  font-style: italic;
  line-height: 1.2;
  margin-bottom: 10px;
}

h3.title {
  color: #C0A186;
  font-family: 'Belluga';
  line-height: 1.5;
}

h4 {
  font-family: 'GoudyOldStyleMTStd';
  font-size: 40px;
  line-height: 1.2;
  text-transform: uppercase;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p,
li,
a {
  color: #697278;
  font-family: 'Open Sans', sans-serif;
  font-size: 1vw;
  font-weight: 400;
  line-height: 1.6em;
  margin-bottom: 10px;
}

b {
  color: #111;
  font-weight: bold;
}

ul {
  list-style: none;
}

li {
  margin: 20px 0;
  padding-left: 20px;
}

/* ORACLE CARDS
--------------------------*/
.section-intro {
  padding: 0 15vw;
  text-align: center;
}

.section.oracle-deck-section {
  text-align: center;
  position: relative;
  background-color: #ffffff;
  padding-bottom: 0;
}

.section.oracle-deck-section.blue-bg {
  background-color: #ECF7F9;
}

.oracle-deck-section img.Geo-8 {
  position: absolute;
  left: 0;
  top: 0;
  width: 17%;
}

.section-intro h1 {
  font-size: 4.9vw;
  letter-spacing: 0.1em;
  font-weight: normal;
  color: #1D637D;
  margin: 1vw 0;
  font-family: 'Brilon_1.2';
}

.section-intro h2 {
  font-family: 'GoudyOldStyleMTStd';
  font-size: 3vw;
  line-height: 3.8vw;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-weight: 100;
  color: #1D637D;
}

.section-intro h3 {
  color: #464A5F;
  font-size: 1.6vw;
  line-height: 2.4vw;
  font-family: 'PT Serif', serif;
  margin-bottom: 30px;
}

.section-intro img.title {
  width: 100%;
}

.section-intro img.arrow {
  width: 3vw;
  max-width: 35px;
  margin: 3vw auto 3vw;
  display: block;
}

.steps-boxes {
  padding: 0 10vw;
  width: 100%;
  display: inline-block;
  margin: 0;
}

.steps-boxes .steps-box {
  display: block;
  float: left;
  width: 33.333333%;
  padding: 0 2.5vw;
}

.steps-box h4 {
  color: #1D637D;
  width: auto;
  display: inline-table;
  font-size: 3vw;
  font-family: "TrajanPro";
  padding: 0.5vw;
  line-height: 3vw;
  border-bottom: 0.1vw solid #1D637D;
  margin: 1vw;
}


.section-intro hr {
  display: block;
  border: none;
  width: 100%;
  height: 4vw;
  background: #000;
  background: url(/images/divider.png) no-repeat center;
  background-size: auto 20%;
}

.steps-boxes.larger {
  padding: 5vw 0 0 0;
}

.steps-boxes.bordered .steps-box {
  margin: 0;
  padding: 1vw;
  position: relative;
}

.steps-boxes.bordered .steps-box .steps-box-line {
  border: 1px solid #A78DD7;
  padding: 0.4vw;
}

.steps-boxes.bordered .steps-box .steps-box-line .double-line {
  border: 1px solid #A78DD7;
  display: block;
  padding: 4vw 2.5vw 2.5vw 2.5vw;
  height: 30vw;
}

.steps-boxes.bordered .steps-box .steps-box-line .double-line h4 {
  color: #A78DD7;
}

.steps-boxes.bordered .steps-box p {
  margin-bottom: 2.5vw;
}

.steps-boxes.bordered .steps-box p a {
  color: #333;
  text-decoration: underline;
}

.steps-box .infusion-form input[type="text"],
.steps-box .infusion-form input[type="temail"] {
  border: none;
  background: #fff;
  width: 100%;
  padding: 0 1vw;
  line-height: 3vw;
  height: 3vw;
  font-size: 1vw;
  margin: 0.5vw 0;
  font-family: "Open Sans";
}

.steps-box .infusion-form button,
.steps-box .infusion-form input[type="submit"] {
  background: #883D72;
  color: #fff;
  width: 100%;
  line-height: 4vw;
  height: 4vw;
  font-size: 1vw;
  font-family: "Open Sans";
  text-transform: uppercase;
  font-weight: 600;
  margin: 0.5vw 0 0 0;
}

.steps-boxes.bordered .steps-box h4 {
  position: absolute;
  top: -2vw;
  left: 50%;
  width: 6vw;
  margin-left: -3vw;
  background: #ECF7F9;
  display: block;
  border: none;
  font-size: 4vw;
}

.section.order-section.light-bg {
  padding-bottom: 0;
  margin-bottom: -5vw;
  z-index: 9;
  background-color: inherit !important;
}

.section.order-section h3 {
  padding-bottom: 4vw;
  padding-left: 2vw;
  padding-right: 2vw;
  background-size: auto 100%;
  background-repeat: no-repeat;
  font-size: 1.5vw;
}

.section.order-section img.title {
  width: 100%;
}

.section.order-section h3 a {
  color: #333;
  font-family: "StoneSerif";
  font-size: 1.5vw;
  line-height: 2.4vw;
  text-decoration: underline;
}

.card-deck-section {
  padding: 0;
}

.deck-cards {
  display: block;
  width: 100%;
  height: 40vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-color: #fff;
  position: relative;
  padding-top: 40vw;
  overflow: hidden;
  transition: all 1s ease-out;
}

.deck-cards::before {
  content: " ";
  position: absolute;
  width: 10vw;
  height: 12vw;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
  left: 50%;
  top: 8vw;
  margin-left: 12vw;
  z-index: 99;
  position: relative;
}

.card-deck-section .deck-cards img.carddeck {
  width: 30%;
  position: absolute;
  top: 18%;
  left: 35%;
}


.deck-cards.active::before {
  opacity: 0;
}

.deck-cards.active {
  height: 80vw;
}

.selected-card-single.active .selected-card-description {
  max-height: 35vw;
  overflow-y: scroll;
}

.deck-cards.active .carddeck {
  display: none;
}

.deck-card {
  display: block;
  position: absolute;
  top: 10vw;
  left: 50%;
  width: 14.5vw;
  height: 20.5vw;
  transform: translateX(-50%);
  margin-left: -0.15vw;
  margin-top: 0.35vw;
  transition: all 0.25s linear;
  overflow: hidden;
  cursor: pointer;
  border-radius: 1vw;
}

.deck-card .card-wrapper {
  width: 14.5vw;
  height: 20.5vw;
  display: block;
}

.deck-card .back,
.deck-card .front {
  background-size: 100% 100%;
  width: 14.5vw;
  height: 20.5vw;
  border-radius: 1vw;
  margin: 0;
}

.deck-card.spread-out .card-wrapper .back,
.deck-card.spread-out .card-wrapper .front {
  box-shadow: 0.4vw 0.1vw 1vw rgba(0, 0, 0, 0.15);

}

.deck-card.draggable-card.spread-out:hover {
  transform: translate(-50%, 15%) rotate(0deg) !important;
}

.deck-card.blank {
  position: relative;
  top: auto !important;
  left: auto !important;
  margin: 0 2vw !important;
  box-shadow: none;
  border: 2px dashed #C3B58C;
  transform: none !important;
  overflow: visible !important;
  border-radius: 1vw;
}

.deck-cards .deck-card.card-19 {
  box-shadow: 0.4vw 0.1vw 1vw rgba(0, 0, 0, 0.15);
}

.deck-cards .deck-card.card-18 {
  box-shadow: 0.4vw 0.1vw 1vw rgba(0, 0, 0, 0.15);
}

.deck-cards .deck-card.card-18 {
  z-index: 9;
}

.deck-cards .deck-card.card-18.spread-out {
  z-index: auto;
}

.deck-cards .deck-card.card-18 {
  transform: translate(-70%, 5%) rotate(2deg);
  box-shadow: 1vw 0.1vw 1vw rgba(0, 0, 0, 0.15);
}

.deck-cards .deck-card.card-17 {
  transform: translate(-66%, 5%) rotate(-2deg);
  box-shadow: 01vw 0.1vw 1vw rgba(0, 0, 0, 0.15);
}

.deck-cards .deck-card.card-16 {
  box-shadow: 2.5vw 0.5vw 3vw rgba(0, 0, 0, 0.25);
}

.deck-cards .deck-card.card-19 {
  transform: translate(-75%, 2%) rotate(0deg);
  box-shadow: 0.4vw 0.1vw 1vw rgba(0, 0, 0, 0.15);
}

.deck-cards .deck-card.card-18:hover {
  transform: scale(1.02) translate(-70%, 5%) rotate(2deg);
}

.deck-cards .deck-card.spread-out {
  box-shadow: 0.4vw 0.1vw 1vw rgba(0, 0, 0, 0.15) !important;
}

.deck-cards.active .deck-card:hover {
  transform: translate(-50%, 0) rotate(0deg);
}

.deck-card.blank.ui-droppable-hover {
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0.75;
}

.deck-card.blank.card-dropped {
  border: none;
}

.deck-card.blank .deck-card {
  position: relative;
  top: auto !important;
  left: auto !important;
  margin: 0 !important;
  transform: none !important;
  /* overflow: visible !important; */
}

.card-wrapper img {
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
}

.selected-card-single .deck-card.reverse-0 .card-wrapper img {

  transform: rotate(0deg) !important;
}

.selected-card-single .deck-card.reverse-1 .card-wrapper img {

  transform: rotate(-180deg) !important;

}

.selected-cards {
  text-align: center;
  vertical-align: top;
  position: relative;
}

.selected-cards::before {
  display: block;
  content: " ";
  position: absolute;
  width: 10vw;
  height: 12vw;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
  left: 8vw;
  top: 4vw;
  z-index: 99;
}

.selected-cards.hide-message::before {
  display: none;
}

.selected-card-single {
  display: inline-table;
  width: 20%;
  transition: all 0.3s ease-out;
  vertical-align: top;
}

.selected-card-single.active {
  width: 55%;
}

.selected-card-description {
  display: block;
  float: left;
  width: 28vw;
  display: none;
  text-align: left;
}

.selected-card-description p strong {
  font-weight: bold;
}

.selected-card-single .deck-card.blank {
  width: 14.5vw;
  display: block;
  float: left;
}

.selected-card-single.active .deck-card .card-wrapper,
.selected-card-single.active .deck-card .back,
.selected-card-single.active .deck-card .front,
.selected-card-single.active .deck-card {
  width: 21.22vw !important;
  height: 30vw !important;
}

.selected-card-single.active .selected-card-description {
  display: block;
}

.deck-card.spread-out.card-0 {
  margin-left: -30vw;
  margin-top: 3.6vw;
  transform: translate(-50%, 0) rotate(-10deg);
}

.deck-card.spread-out.card-1 {
  margin-left: -27vw;
  margin-top: 3.6vw;
  transform: translate(-50%, 0) rotate(-9deg);
}

.deck-card.spread-out.card-2 {
  margin-left: -24vw;
  margin-top: 3.2vw;
  transform: translate(-50%, 0) rotate(-8deg);
}

.deck-card.spread-out.card-3 {
  margin-left: -21vw;
  margin-top: 2.6vw;
  transform: translate(-50%, 0) rotate(-7deg);
}

.deck-card.spread-out.card-4 {
  margin-left: -18vw;
  margin-top: 2.0vw;
  transform: translate(-50%, 0) rotate(-6deg);
}

.deck-card.spread-out.card-5 {
  margin-left: -15vw;
  margin-top: 1.5vw;
  transform: translate(-50%, 0) rotate(-5deg);
}

.deck-card.spread-out.card-6 {
  margin-left: -12vw;
  margin-top: 1.0vw;
  transform: translate(-50%, 0) rotate(-4deg);
}

.deck-card.spread-out.card-7 {
  margin-left: -9vw;
  margin-top: 0.7vw;
  transform: translate(-50%, 0) rotate(-3deg);
}

.deck-card.spread-out.card-8 {
  margin-left: -6vw;
  margin-top: 0.4vw;
  transform: translate(-50%, 0) rotate(-2deg);
}

.deck-card.spread-out.card-9 {
  margin-left: -3vw;
  transform: translate(-50%, 0) rotate(-1deg);
  margin-top: 0.2vw;
}

.deck-card.spread-out.card-10 {
  margin-left: 0vw;
  transform: translate(-50%, 0) rotate(0deg);
}

.deck-card.spread-out.card-11 {
  margin-left: 3vw;
  margin-top: 0.2vw;
  transform: translate(-50%, 0) rotate(1deg);
}

.deck-card.spread-out.card-12 {
  margin-left: 6vw;
  margin-top: 0.4vw;
  transform: translate(-50%, 0) rotate(2deg);
}

.deck-card.spread-out.card-13 {
  margin-left: 9vw;
  margin-top: 0.7vw;
  transform: translate(-50%, 0) rotate(3deg);
}

.deck-card.spread-out.card-14 {
  margin-left: 12vw;
  margin-top: 1.0vw;
  transform: translate(-50%, 0) rotate(4deg);
}

.deck-card.spread-out.card-15 {
  margin-left: 15vw;
  margin-top: 1.5vw;
  transform: translate(-50%, 0) rotate(5deg);
}

.deck-card.spread-out.card-16 {
  margin-left: 18vw;
  margin-top: 2.0vw;
  transform: translate(-50%, 0) rotate(6deg);
}

.deck-card.spread-out.card-17 {
  margin-left: 21vw;
  margin-top: 2.6vw;
  transform: translate(-50%, 0) rotate(7deg);
}

.deck-card.spread-out.card-18 {
  margin-left: 24vw;
  margin-top: 3.2vw;
  transform: translate(-50%, 0) rotate(8deg);
}

.deck-card.spread-out.card-19 {
  margin-left: 27vw;
  margin-top: 3.6vw;
  transform: translate(-50%, 0) rotate(9deg);
}

.deck-card.spread-out.card-20 {
  margin-left: 30vw;
  margin-top: 3.6vw;
  transform: translate(-50%, 0) rotate(10deg);
}

.deck-card.spread-out.card-21 {
  margin-left: 33vw;
  margin-top: 4.2vw;
  transform: translate(-50%, 0) rotate(11deg);
}

.deck-card.ui-draggable-dragging {
  transform: translate(-50%, 0) rotate(0deg) !important;
}

.deck-card.blank .card-wrapper {
  cursor: pointer;
}

@media(max-width:600px) {

  p,
  li,
  a {
    font-size: 3.5vw;
  }


  .section-intro h1 {
    font-size: 8vw;
    line-height: 10vw;
    padding: 5vw 0;
  }

  .section-intro {
    padding: 0 4vw;
  }

  .section-intro h3 a,
  .section-intro h3 {
    font-size: 5vw;
    line-height: 6vw;
  }

  .section-intro h2 a,
  .section-intro h2 {
    font-size: 5vw;
    line-height: 6vw;
  }

  .section.order-section h3 {
    font-size: 5vw;
    line-height: 7vw;
  }

  .section.order-section h3 a {
    font-size: 5vw;
  }

  .section-intro h3.subtitle {
    font-size: 4.7vw;
    margin-bottom: 6vw;
  }

  .section-intro img.arrow {
    margin: 5vw auto 4vw;
    width: 5vw;
  }

  .section-intro h1 {
    font-size: 7.5vw;
    padding: 0;
    margin-bottom: 5vw;
  }

  .section-intro {
    text-align: center;
    padding: 5vw;
  }

  .steps-box h4 {
    font-size: 6vw;
    padding: 2.5vw;
    line-height: 6vw;
    margin: 3vw;
  }

  .section-intro h3 {
    font-size: 4.8vw;
    line-height: 7vw;
  }

  .sub-message img.arrow {
    width: 8vw;
    margin: 5vw auto;
  }

  .section-intro img.arrow {
    width: 8vw;
    margin: 5vw auto;
  }

  .steps-boxes .steps-box {
    width: 100%;

  }

  .steps-boxes.bordered .steps-box {
    margin-bottom: 10vw;
  }

  .steps-boxes.bordered .steps-box .steps-box-line .double-line {
    height: auto;
    padding: 6vw;
    padding-top: 10vw;

  }

  .steps-boxes.bordered .steps-box h4 {
    width: 20vw;
    margin-left: -10vw;
    font-size: 10vw;
  }

  .section-intro {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .deck-card,
  .deck-card .card-wrapper,
  .deck-card .back,
  .deck-card .front,
  .selected-card-single .deck-card.blank {
    width: 20vw;
    height: 30vw;
  }

  .deck-cards {
    height: 60vw;
    padding-top: 60vw;
  }

  .deck-cards.active {
    height: 200vw;
  }

  .selected-card-single.active .selected-card-description {
    max-height: 90vw;
    overflow-y: scroll;
  }

  .video-series label {
    font-size: 3vw;
    line-height: 4vw;
  }

  .deck-cards.active.open-description {
    height: 250vw;
  }

  .selected-card-description {
    position: absolute;
    top: 40vw;
    left: 5vw;
    right: 5vw;
    width: 90vw;
  }

  .selected-card-single.active {
    width: 30% !important;
  }

  .selected-card-single.active .deck-card.blank,
  .selected-card-single.active .deck-card,
  .selected-card-single.active .deck-card .card-wrapper,
  .selected-card-single.active .deck-card .back,
  .selected-card-single.active .deck-card .front {
    width: 24vw !important;
    height: 36vw !important;
  }

  .selected-card-single {
    text-align: center;
  }

  .selected-card-single .deck-card.blank {
    display: inline-table;
    float: none;
  }

  .restart-button {
    top: 1% !important;
  }
}

.restart-button {
  display: block;
  position: absolute;
  top: 5%;
  left: 45%;
  margin: 0 auto;
  z-index: 1000;
  background: #c9922c;
  border-radius: 4px;
  padding: 5px;
  text-align: center
}

.restart-button:hover {
  transform: scale(1.1);
}

#restart-span {
  color: #f7efe0;
}